@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg: #1b262c;
  --accent2: #0f4c75;
  --accent: #3282b8;
  --text: #bbe1fa;
}
h1 {
  color: var(--text);
  font-size: 100px;
  font-family: "Unbounded";
}

h2 {
  color: #fff;
  font-size: 30px;
  font-family: "Space Grotesk";
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--bg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#menu {
  width: 100%;
  text-align: center;
  margin: 6vh 0px;
  display: none;
}
#menu a {
  margin: 0px 6%;
  font-size: 19px;
  color: #fff;
  text-decoration: underline;
  font-family: "Space Grotesk";
}
#middle {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding-bottom: 10vh;
}

#about {
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 25px;
  transform: rotate(-90deg);
  background: transparent;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
  transition: 0.4s ease-in-out;
  border-radius: 0px 0px 100px 100px;
}
#work {
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 25px;
  transform: rotate(90deg);
  background: transparent;
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
  transition: 0.4s ease-in-out;
  border-radius: 0px 0px 100px 100px;
}
#contact {
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 25px;
  background: transparent;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
  transition: 0.4s ease-in-out;
  border-radius: 100px 100px 0px 0px;
}
#about:hover {
  background: rgba(15, 76, 117, 0.5);
}
#work:hover {
  background: rgba(15, 76, 117, 0.5);
}
#contact:hover {
  background: rgba(15, 76, 117, 0.5);
}
#middle table {
  width: 30%;
  margin: 6vh auto;
}
#middle table tr td {
  text-align: center;
}
.social {
  color: #fff;
  font-size: 27px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  margin: 0px 8px;
  text-align: center;
}
.social:hover {
  cursor: pointer;
  color: var(--accent2);
}
.container {
  width: 90vw;
  height: 90vh;
  padding: 5vh 5vw;
  color: #fff;
  background: rgba(27, 38, 44, 0.3);
  z-index: 9;
  position: fixed;
  max-height: 100vh;
  overflow-y: auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  display: none;
}
.container div {
  margin: 20px 0px;
  transition: 0.4s ease-in-out;
}
.container div:hover {
  cursor: pointer;
}
.container section {
  margin: 8vh 0px;
}
#used {
  margin-left: 35px;
  margin-top: 3px;
  display: flex;
  justify-content: center;
}
#used img {
  margin-right: 13px;
}

.image-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: 60vw;
}

.container h1 {
  font-size: 80px;
  font-family: "Unbounded";
}
.container h2 {
  font-size: 50px;
  margin-left: 30px;
  font-family: "Unbounded";
  font-weight: 600px;
}
.container h2 a:visited,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}
.container p {
  font-size: 27px;
  margin-left: 35px;
  font-family: "Space Grotesk";
}
.btn_one {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  background: transparent;
  border: 3px solid #fff;
  padding: 8px 40px;
  border-radius: 80px;
  font-weight: bold;
  margin: 2vh 10px;
  transition: 0.4s ease-in-out;
}
.btn_one:hover {
  cursor: pointer;
  color: rgb(255, 50, 50);
  background: #fff;
}
.btn_two {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(255, 50, 50);
  background: #fff;
  border: 3px solid #fff;
  padding: 8px 40px;
  border-radius: 80px;
  font-weight: bold;
  margin: 2vh 10px;
  transition: 0.4s ease-in-out;
}
.btn_two:hover {
  cursor: pointer;
  padding: 8px 60px;
}
.container form input {
  width: 46%;
  margin: 20px 1%;
  background: transparent;
  border: 0px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  transition: 0.4s ease-in-out;
  color: #fff;
  font-weight: bold;
}
.container form textarea {
  width: 96%;
  margin: 20px 1%;
  padding: 8px 10px;
  border: 0px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background: transparent;
  resize: none;
  transition: 0.4s ease-in-out;
  color: #fff;
  font-weight: bold;
}
.container form input:focus {
  outline: none;
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}
.container form textarea:focus {
  outline: none;
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}
::placeholder {
  color: #fff;
}

#skills {
  margin-left: 35px;
  margin-top: 3px;
  display: flex;
  justify-content: left;
}
#skills img{
  margin-right: 13px;
}
#footer {
  color: #fff;
  width: 92vw;
  padding: 5vh 4vw;
  text-align: right;
  position: fixed;
  z-index: 1;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
#footer a {
  color: rgb(255, 50, 50);
}
#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 50, 50);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 50, 50, 0.8);
}
::selection {
  color: #fff;
  background: rgb(255, 50, 50);
}

@media (max-width: 800px) {
  #about {
    display: none;
  }
  #contact {
    display: none;
  }
  #work {
    display: none;
  }
  #footer {
    text-align: center;
  }
  #middle {
    width: 90vw;
    padding: 0px 5vw;
  }
  #middle table {
    width: 80%;
  }
  .container form input {
    width: 90%;
  }
  .container form textarea {
    width: 90%;
  }
  #menu {
    display: inline-block;
  }
  #onlywide {
    display: none !important;
  }
  .box2 {
    margin-left: 0px !important;
  }
  #box div {
    width: 100%;
  }
}
